@page "{id:int}"
@model ShoeShop.Pages.Admin.Shoes.DeleteModel
@{
    ViewData["Title"] = "Delete Shoe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mb-4 text-danger"><i class="fa fa-trash"></i> Delete Shoe</h1>
<div class="card border-danger">
    <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete this shoe?</h5>
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Shoe.Name</dd>
            <dt class="col-sm-3">Brand</dt>
            <dd class="col-sm-9">@Model.Shoe.Brand</dd>
            <dt class="col-sm-3">Cost</dt>
            <dd class="col-sm-9">?@Model.Shoe.Cost.ToString("N2")</dd>
            <dt class="col-sm-3">Price</dt>
            <dd class="col-sm-9">?@Model.Shoe.Price.ToString("N2")</dd>
            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Shoe.Description</dd>
        </dl>
        <form method="post">
            <input type="hidden" asp-for="Shoe.Id" />
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
            <a href="/admin/shoes" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>
</div>
